<div class="container">
  <div class="starter-template">
    <h1><i class="fa fa-calculator" aria-hidden="true"></i>
Product Pricing Calculator</h1>
    <br/>
    <p class="lead">How much money do you want to <i>make?</i> Our calculator will show you! <br/> Useful if you are selling a product or setting up a monthly subscriptions!</p>

    <%= simple_form_for(product, html: { class: 'form-horizontal' }) do |f| %>

  <div class="field">
    <%= f.label :revenue %>
    <%= f.text_field :revenue %>
  </div>

  <div class="field">
    <%= f.label :months %>
    <%= f.number_field :months %>
  </div>
    <br/>

  <div class="actions">
    <%= f.button :submit, "Show Me How Much to Charge!", class: "btn btn-primary" %>
  </div>
  <% end %>
  </div>
</div><!-- /.container -->

<footer class="footer">
  <div class="container">
    <a href="http://neilpatel.co" title="Neil Patel">
      <i class="fa fa-heart 2x" aria-hidden="true"></i></a>
  </div>
</footer>




